<!--
  <div class="col-md-12" >
    <small>
      © Duck on Rails 2015 by Eugene Chang
    </small>

    <nav>
      <ul>
        <li><%= link_to "My github", "https://github.com/yuyueugene84" %></li>
        <li><%= link_to "My Personal Site", "https://yuyueugene84.herokuapp.com/" %></li>
        <li><%= link_to "My Blog", "http://toxicstar-blog.logdown.com/" %></li>
      </ul>
    </nav>
  </div> -->
<hr>
<div class="col-md-12" class="custom_footer">
  <br>
  <div class="inner">
    <p>
    This is a project created by following Tealeaf Academy Course 2 @2015.</p>
    <p>
    Created by <%= link_to "Eugene Chang", "https://yuyueugene84.herokuapp.com/" %>,
    </p>

  </div>
</div>
